<loading [isshow]="loading"></loading>
<div class="videoInfo">
    <div class="videoInfo-btnL"></div>
    <video id="video1" width="100%" height="100%" muted controls autoplay loop="loop">
        <source src="http://static.99114.com/static/cyw_video/festival_wine.mp4" type="video/mp4">
    </video>
</div>
<div class="videoBt">
    <p>日出-愿你有一个美好的今日时光!生活中有一个治愈式的美好</p>
    <div class="a">650M<span>2.2万次播放</span></div>
</div>
<div class="managementInfo">
    <div class="managementInfo-a">
        <div class="a"><img src="assets/images/headimg.png" alt=""></div>
        <div class="b">
            <p class="b1">管理者</p>
            <p class="b2">资源 45 </p>
        </div>
        <!-- <div class="c">已加入圈子</div> -->
        <div class="c">+ 加入圈子</div>
    </div>
    <div class="managementInfo-b">
        <div class="a">转存此资源，需消耗<span>35</span>金币</div>
        <div class="b">2020年7月31日发布</div>
    </div>
</div>
<div class="videogg">
    <img src="assets/images/guangg.jpg" alt="">
</div>
<ul class="detailsContTab">
    <li class="tabDivActive"><span>评论</span>300</li>
    <li><span>点赞</span>2万</li>
    <li><span>分享</span>25</li>
    <li><span>转存</span>2</li>
</ul>
<div class="detailsContDiv">
    <!-- 评论 -->
    <ul class="detailsCont">
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">评论--小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">感谢分享</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
    </ul>
    <!-- 点赞 -->
    <ul class="detailsCont detailsContDianzan">
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">点赞--小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">点赞了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
    </ul>
    <!-- 分享 -->
    <ul class="detailsCont detailsContFenxiang ">
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">分享--小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">333小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">333小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">333小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">333小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">
                    <div class="nc">333小胖妈妈的生活</div>
                    <div class="jb">获得<span>5</span>金币</div>
                </div>
                <div class="b2">
                    <div class="pl">分享到了微信</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
    </ul>
    <!-- 转存 -->
    <ul class="detailsCont detailsContDianzan">
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">转存---小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/headimg.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
        <li>
            <div class="a"><img src="assets/images/touxiang.png" alt=""></div>
            <div class="b">
                <div class="b1">小胖妈妈的生活</div>
                <div class="b2">
                    <div class="pl">转存了此资源</div>
                    <div class="time">10-1 12:12</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="viewMore">查看更多</div>





<div class="bottomBtn">
    <div class="form"><input type="text" placeholder="快捷评论"></div>
    <div class="pinglun"><span></span></div>
    <div class="dianzan"><span></span></div>
    <div class="fengxiang"><span></span></div>
    <div class="zhuancun"><span></span></div>
</div>
 