<loading [isshow]="loading"></loading>
<div class="contDiv">
	<ul class="contDiv-list">
		<li>
			<div class="contDiv-img">
				<img src="./assets/images/listimg.jpg" alt="">
				<span>10:20</span>
			</div>
			<div class="contDiv-text">
				<div class="contDiv-text-left">
					<img src="./assets/images/headimg.png" alt="">
				</div>
				<div class="contDiv-text-right">
					<div class="t">日出-愿你有一个美好的今日时光！日出-愿你有一个美好好的好的的今日时日出-愿你有一个美好的今日时光光</div>
					<div class="c">
						<p>管理员·1小时前</p>
						<p class="d">127</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>