<loading [isshow]="loading"></loading>

<div dropload (drapDown)="drapDown($event)" (drapUp)="drapUp($event)" >
	<div class="contDiv">
		<ul class="contDiv-list">
			<li *ngFor="let item of data;">
				<div class="contDiv-img">
					<img src="./assets/images/listimg.jpg" alt="">
					<span>10:20</span>
				</div>
				<div class="contDiv-text">
					<div class="contDiv-text-left">
						<img src="./assets/images/headimg.png" alt="">
					</div>
					<div class="contDiv-text-right">
						<div class="t">{{item.title}}</div>
						<div class="c">
							<p>{{item.name}}·{{item.create_time | formattime}}</p>
							<p class="d">{{item.comment_num || 0}}</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>