<loading [isshow]="loading"></loading>

<!-- <div class="btheader">
  <a href="javascript:;" (click)="back()" class="a_return"></a>
  {{title}}
</div> -->
<div class="Release-success  mb40">
  <!-- <a href="javascript:;" class="mt20 btn_b">1-1 <-> 00-01-6c-06-a6-29</a> -->
  <!-- <a href="javascript:;" class="mt20 btn_a">1-2</a> -->
  <ng-container *ngIf="id == 1">
    <ng-container *ngFor="let seats of data">
      <a href="javascript:;" (click)="itemClick(item)" [class.btn_b]="item.mac" *ngFor="let item of seats" class="mt20 btn_a">{{item.seatid}}{{ (item.mac ? (" <-> " + item.mac) : '')}}</a>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="id == 2">
    <a href="javascript:;" (click)="itemClick(item,i)" [class.btn_b]="item.seatid" *ngFor="let item of data;let i = index;" class="mt20 btn_a">{{item.seatid}}{{ (item.seatid ? (" <-> " + item.name) : item.name)}}</a>
  </ng-container>
  
  
</div>
